*
{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

._container
{

    display: grid;
    width: 100%;
    height: 100vh;
    background-color: yellowgreen;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

    /* 
    
        The align items property applicable only on the parent,
        For each of the align-items property value all the grid items will be affected.
    
    */

    align-items: center /* In each of grid box div will be start from their vertical top grid line */;

    /* Similarly "justify-items" for horizontal */

    /*
    
    Horizontally all the contents where will be place inside of the grid container
    
    space-between - this value of the following property all the space will put into between the grid-items except "Start & End".
    space-around - some space on start and some on end As well as in between double of start and end.
    space-evenly - will put same space on start, between and at end.

    */

    justify-content: center;

    /* This following property will align vertically and all the value are same of justify-content: ; this one for vertically */

    align-content: center;

}

._container :nth-child(odd)
{

    background-color: violet;

}

._container :nth-child(even)
{

    background-color: mediumslateblue;

}

._container h3
{

    background-color: green !important;
    font-size: 30px;

}

._container_Child
{

    padding: 90px;

}

._box_6
{

    /* For individual we have to use "align-self" it will affect ony which we selected */

    align-self: baseline;

    /* Similarly "justify-self: ;" for individual vertically which we selected  */

}